/*  your css code here. If applicable */
/* Page Background using :root */
:root {
    background-color: rgb(135, 206, 235);
}

h2{
	background-color: black;
	color: white;
}
/* Paragraph Styling */
article p:first-child {
    /* background-color: black; */
    color: black;
}

article p:nth-child(2) {
    color: inherit;
}

article p:last-child {
    color: red;
}

/* List Styling */
ul li {
    background-color: gray;
    width: 50%;
    padding: 10px;
}

/* Odd items background */
ul li:nth-child(odd) {
    background-color: white;
}

/* First and last items font size */
ul li:first-child,
ul li:last-child {
    font-size: 22px;
}

/* Third-to-last item background */
ul li:nth-last-child(3) {
    background-color: pink;
}
